<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="songSection"></div>
    <div id="infoSection">
      <h1>Jordan's Audio Visualizer</h1>
      <p>This is my audio visualizer!<br>
        The three songs to choose from are<br>
        Zanzibar, Golden, and Across the Universe.<br>
        Enjoy!</p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/tweakpane@3.0.5/dist/tweakpane.min.js"></script>
  <script type="module">const songLinks = [
    'https://cdn.glitch.global/987f7013-d0ab-43b5-96ed-45918107e975/Billy%20Joel%20-%20Zanzibar%20(Audio).mp3?v=1666590010549',
    'https://cdn.glitch.global/987f7013-d0ab-43b5-96ed-45918107e975/Harry%20Styles%20-%20Golden%20(Official%20Audio).mp3?v=1666590030092',
    'https://cdn.glitch.global/987f7013-d0ab-43b5-96ed-45918107e975/Across%20The%20Universe%20(Remastered%202009).mp3?v=1666590020276'    
  ]
  let currentSong = 0;
  let currentColor = '#ffffff';
  let startingColor = "#ff0000";
  let endingColor = "#00ff00";
    
  const pane = new Tweakpane.Pane();
  const songSection = document.getElementById("songSection");
  
  const PARAMS = {
    song: 0,
    color: '#dddddd',
    color_a: "#ff0000",
    color_b: "#00ff00"
  };

  const colorSelector = pane.addInput(
    PARAMS, "color"
  )
  
  colorSelector.on('change', (val) => {
    currentColor = val.value
  });
  
  // `options`: list
  pane.addInput(
    PARAMS, 'song',
    {options: {
      "Zanzibar - Billy Joel": 0,
      "Golden - Harry Styles": 1,
      "Across The Universe - The Beatles": 2,
    }
    }
  ).on('change', (val) => {
    currentSong = val.value
    
  });
  
  const startbtn = pane.addButton({
    title: 'START',
  });

  startbtn.on('click', () => {
    start()
    console.log("started");
  });
    
  const stopbtn = pane.addButton({
    title: 'STOP',
  });

  stopbtn.on('click', () => {
    currentSong = 4
    start()
    console.log("stopped");
  });
 
  const start = function() {
    songSection.innerHTML = ''
    const canvas = document.createElement( 'canvas' )
    songSection.appendChild( canvas )
    canvas.width = canvas.height = 512
    const ctx = canvas.getContext( '2d' )

    // audio init
    const audioCtx = new AudioContext()
    const audioElement = document.createElement( 'audio' )
    audioElement.crossOrigin = "anonymous";
    console.log(audioElement.crossOrigin)
    songSection.appendChild( audioElement )

    // audio graph setup
    const analyser = audioCtx.createAnalyser()
    analyser.fftSize = 2048 // 512 bins
    const player = audioCtx.createMediaElementSource( audioElement )
    player.connect( audioCtx.destination )
    player.connect( analyser )

    // make sure, for this example, that your audiofle is accesssible
    // from your server's root directory... here we assume the file is
    // in the ssame location as our index.html file
    audioElement.src = songLinks[currentSong]
    audioElement.play()
    const results = new Uint8Array( analyser.frequencyBinCount )

    const draw = function() {
      // temporal recursion, call tthe function in the future
      window.requestAnimationFrame( draw )
      
      // fill our canvas with a black box
      // by doing this every frame we 'clear' the canvas
      ctx.fillStyle = 'grey' 
      ctx.fillRect( 0,0,canvas.width,canvas.height )      
      // set the color to white for drawing our visuaization
      ctx.fillStyle = currentColor 
      
      analyser.getByteFrequencyData( results )
      
      for( let i = 0; i < analyser.frequencyBinCount; i++ ) {
        ctx.fillRect( i, canvas.height - results[i], 2, 2) // upside down!
      }
    }
    draw()
  }
  </script>
</html>