<!doctype html>
<html lang='en'>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  </head>
  <body>
    <div id="songSection">
      
    </div>
    <div id="infoSection">
      <h3>
        LCD Soundsystem Visualizer!
      </h3>
      <p>
        Welcome to the LCD Soundsystem visualizer,<br>
        where you can select any song from the<br>
        classic album "This is Happening" and<br>
        see a visualization of the audio file!<br>
        To use the app, select a song from the<br>
        drop down menu in the top right. Feel<br>
        free to restart or stop a song with the<br>
        given buttons or switch the color of the wave
      </p>
      <img width="300" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffanart.tv%2Ffanart%2Fmusic%2F2aaf7396-6ab8-40f3-9776-a41c42c8e26b%2Falbumcover%2Fthis-is-happening-55d344b305d41.jpg&f=1&nofb=1">
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/tweakpane@3.0.5/dist/tweakpane.min.js"></script>
  <script href="script.js"></script>
</html>